.DS_Store
node_modules
/dist

*venv/
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
.project
.settings
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*/.~lock*

public/*.json

# Observatoire des AAP

__pycache__
**.ipynb_checkpoints
/dashboard-configuration/scripts/AFA/data