
.page-content {
  --boxshadow: var(--bf500);
  --boxcountour: var(--bf500-plain);
  /* --boxcountour: var(rgb(75, 30, 82)); */
}

/* .page-content[data-fr-theme=dark i] {

}

.page-content:not([data-fr-theme=dark i]) [class*="--scheme-light-"],
.page-content:not([data-fr-theme=dark i]) [class*=fr-scheme-light] {

}

.page-content:not([data-fr-theme=dark i]) [class*="--scheme-dark-"],
.page-content:not([data-fr-theme=dark i]) [class*=fr-scheme-dark] {

} */

.page-content:not([data-fr-theme="dark" i]) .fr-tabs__tab:not([aria-selected="true"]) {
  --color-hover: #b4b4f0;;
  --color-active: rgba(109, 168, 105, 0.5);
  --block-color-hover: rgba(187, 255, 182, 0.5);
  --block-color-active: rgba(109, 168, 105, 0.5);
}
